@* reddit Template File *@
@(param: Any)

<div id="w">
    <!-- logo http://dribbble.com/shots/1177942-Reddit-Logo -->
    <div id="logo">
      <h1>Reddit API Sample</h1>
    </div>
    
    <p>Enter <code>username</code> to browse recent submissions in Reddit.</p>
    
    <div id="searchfield">
      <form id="domainform" name="domainform">
        <input type="text" class="search" id="s" name="s" placeholder="username">
      </form>

	<button id="post" class="blubtn" target="_blank">See Links</button>
    </div>
    
    <div id="content"></div>
  </div>