@* fbdata Template File *@
@(user: String)

@main("Facebook Data"){
<div class="container" ng-controller="FacebookCtrl" ng-init="getFBInfo('@user')">
         <div class="row" style="margin-top:2%;">
             <div class="panel panel-primary">
                 <div class="panel-heading">Data From Facebook</div>
                     <div class="panel-body">
                         <div ng-show="userNotFound">                                                        
                         	<h2>No User Info Found</h2>                                                               
                         </div>
                         <b>
                         <table class="table" ng-show="loaded">
                               <tr> 
                                    <td>Full Name</td><td>{{user.name}}</td>
                               </tr>
                               <tr>
                                    <td>Gender</td><td>{{user.gender}}</td>
                               </tr>
                               <tr>    
                                    <td>Last Name</td><td>{{user.last_name}}</td>
                               </tr>
                               <tr>
                                    <td>Full Profile</td><td><a class="btn btn-primary" href={{user.link}} >Full Profile</a></td>
                               </tr>
                               <tr>    
                                    <td>Locale</td><td>{{user.locale}}</td>
                               </tr>
                               <tr>
                                    <td>User Name</td><td>{{user.name}}</td>
                               </tr>
                               <tr>
                                    <td>UserID</td><td>{{user.id}}</td>
                               </tr>                     
                               
                         </table>
                         </b>
                         
                         @*
                         <table class="table" ng-show="loaded">
                              	<tr>
                               		<th>id</th>
                               		<th>first_name</th>
                               		<th>gender</th>
                               		<th>last_name</th>
                               		<th>link</th>
                               		<th>locale</th>
                               		<th>name</th>
                               		<th>username</th>
                               <tr>
                                    <td>{{user.id}}</td>
                                    <td>{{user.first_name}}</td>
                                    <td>{{user.gender}}</td>
                                    <td>{{user.last_name}}</td>
                                    <td>{{user.link}}</td>
                                    <td>{{user.locale}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.username}}</td>
                              </tr>                              
                         </table>
                         *@
                    </div>
                <div class="panel-footer">Facebook graph api</div>                 
            </div>
         </div>
    </div>
@bodyScripts("home")
}
